{% extends "menu.html" %}
{% block content %}

        <form action = "/enter_grade_success">
            <label for = "student_github">Enter the student's github account.</label>
            <input type = "text" name = "student_github" /><br>
            <label for = "project_title">Enter the the title of the project.</label>
            <input type = "text" name = "project_title" /><br>
            <label for = "student_grade">Enter the number of points earned by the student.</label>
            <input type = "text" name = "student_grade" /><br>
            <input type = "submit">
        </form>

{% endblock %}