<html>
    <head></head>
    <body>
        <form action = "/new_project_success">
            <label for = "project_title">Enter the title of the project.</label>
            <input type = "text" name = "project_title" /><br>
            <label for = "project_description">Enter a description of the project.</label>
            <input type = "text" name = "project_description" /><br>
            <label for = "max_grade">Enter the maximum amount of points for the project.</label>
            <input type = "text" name = "max_grade" /><br>
            <input type = "submit">
        </form>
    </body>
</html>
