{% extends "menu.html" %}
{% block content %}
        <h1>Register New Student</h1>
        <form action = "/success" method = 'POST'>
            <label for = "first_name">Enter your first name here.</label>
            <input type = "text" name = "first_name" /><br><br>
            <label for = "last_name">Enter your last name here.</label>
            <input type = "text" name = "last_name" /><br><br>
            <label for = "github">Enter your github id here.</label>
            <input type = "text" name = "github" /><br><br>
            <input class = "button" type = "submit">
        </form>
{% endblock %}