<html>
    <head></head>
    <body>
        <form action = "/success">
            <label for = "first_name">Enter your first name here.</label>
            <input type = "text" name = "first_name" />
            <label for = "last_name">Enter your last name here.</label>
            <input type = "text" name = "last_name" />
            <label for = "github">Enter your github id here.</label>
            <input type = "text" name = "github" />
            <input type = "submit">
        </form>
    </body>
</html>
